body{
    background-image:url(beach-5832799_19205.jpg);
    background-size:cover;
  font-family: 'Montserrat', sans-serif;
}

#one{
    background-image:url(ocean-2203720_1920.jpg);
    background-size: cover;
    width: 1110px;
    height: 550px;
    margin-left:10%;
    margin-right:5%;
    margin-top: 3%;
    position: relative;
    box-shadow:0 0 20px 2px rgba(0,0,0,0.6);
    
}
#form{
    background-color: rgba(0,0,0,.6);
    border: none;
    width: 38%;
    margin-left:62%; 
    height:550px;
    color:whitesmoke;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
    position:absolute;
    top:0;
}
h2{
    padding-top: 100px;
    padding-left: 60px;
    padding-bottom:30px;
    color:whitesmoke;
}
label{
   padding-left:50px;
    color:darkgrey;
    padding-bottom: none;
    font-size: 12px;
}
.fr{
    margin-left:50px;
    background: none;
    border: none;
    border-bottom: 2px solid dimgray;
     width: 75%;
    color: whitesmoke;
}
.sc{
    margin-left:50px;
     background: none;
    color: none;
    border-color: gray;
    background:transparent;
    
}
.th{
    margin-left:50px;
    background-color: #cc3333;
    color:whitesmoke;
     width: 122px;
    height: 30px;
    border:none;
    border-radius: 2px;
    font-size: 11.5px;
}
a{
    color: whitesmoke;
    text-decoration-color: whitesmoke
}
.dd{
 width:15px;
height:15px;
}
.db{
 width:17px;
height:17px;
}
.bd{
 width:12.5px;
height:12.5px;
}


.two{
    color:white;
position: absolute;
bottom: 20px;
left: 50px 
}
.ff{
    width:140px;
height:80px;
}
.aa{
    width: 15px;
    height:15px;
}
h5{
    color: whitesmoke;
    position: absolute;
    top:100px;
    left: 50px;
}
span{
    font-size: 12px;
}
p{
    font-size: 18px;
}
